@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: #009343;
  --color-secondary: #f8931f;
  --color-brown: #321a12;
  
  /* Backgrounds */
  --background: #ffffff;
  --foreground: #321a12; /* Use brown for text by default for premium feel */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-brown: var(--color-brown);
  
  --font-cairo: var(--font-cairo);
  --font-sans: var(--font-cairo); /* Set Cairo as default sans font */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo), sans-serif;
}
